<link rel="stylesheet" href="/Src/Cadastro/CSS/Cadastro.css" />
<script src="/Src/Cadastro/JS/Cadastro.js" type="text/javascript" ></script>


<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
            <!-- <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" /> -->
        </div>
        <form id="FormCadastro" method="post" style="margin-top: 30px">
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
            <input type="password" id="password" class="fadeIn third" name="login" placeholder="password">
            <input type="password" id="passwordConf" class="fadeIn third" name="login" placeholder="confirme o password">
            <input type="submit" class="fadeIn fourth" value="Cadastrar" id="btnCadastro">
        </form>
        <div id="formFooter">

        </div>


    </div>
</div>